################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/HMO/.vs/HMO/FileContentIndex/3e1292a9-00a2-4a78-a923-5c6f1df96a71.vsidx
/Server/HMO/.vs/HMO/config/applicationhost.config
/Server/HMO/.vs/HMO/DesignTimeBuild/.dtbcache.v2
/Server/HMO/.vs/HMO/FileContentIndex/1a1b7a0d-900b-4597-8c8d-337633ed3ef4.vsidx
/Server/HMO/.vs/HMO/FileContentIndex/6e0f5729-0869-45b4-b98f-128f2924417c.vsidx
/Server/HMO/.vs/HMO/FileContentIndex/7854bdba-b9f7-410b-aedb-24bd4ca4716a.vsidx
/Server/HMO/.vs/HMO/FileContentIndex/89579056-d4fe-417f-a70a-bdae1d118af5.vsidx
/Server/HMO/.vs/HMO/FileContentIndex/b8bffbf5-d56d-4bcb-9fce-f8cd5e9f5d8b.vsidx
/Server/HMO/.vs/HMO/FileContentIndex/f8782917-7841-4a5f-9e72-e4687e2f6ad6.vsidx
/Server/HMO/.vs/HMO/FileContentIndex/e50504b1-25ba-4c81-b2f7-98b4e28418bb.vsidx
/Server/HMO/.vs/ProjectEvaluation/hmo.metadata.v6.1
/Server/HMO/.vs/ProjectEvaluation/hmo.projects.v6.1
/Server/HMO/HMO/bin/Debug/net6.0/HMO.dll
/Server/HMO/HMO/bin/Debug/net6.0/HMO.pdb
/Server/HMO/HMO/bin/Debug/net6.0/Repositories.pdb
/Server/HMO/HMO/bin/Debug/net6.0/Services.dll
/Server/HMO/HMO/bin/Debug/net6.0/Repositories.dll
/Server/HMO/HMO/bin/Debug/net6.0/Services.pdb
/Server/HMO/.vs/HMO/v17/.suo
/Server/HMO/.vs/HMO/v17/.futdcache.v2
/Server/HMO/Repositories/bin/Debug/net6.0/Repositories.pdb
/Server/HMO/Repositories/bin/Debug/net6.0/Repositories.dll
/Server/HMO/Repositories/obj/Debug/net6.0/ref/Repositories.dll
/Server/HMO/Repositories/obj/Debug/net6.0/refint/Repositories.dll
/Server/HMO/Repositories/obj/Debug/net6.0/Repositories.csproj.CoreCompileInputs.cache
/Server/HMO/Repositories/obj/Debug/net6.0/Repositories.pdb
/Server/HMO/Repositories/obj/Debug/net6.0/Repositories.dll
/Server/HMO/HMO/obj/Debug/net6.0/ref/HMO.dll
/Server/HMO/HMO/obj/Debug/net6.0/refint/HMO.dll
/Server/HMO/HMO/obj/Debug/net6.0/HMO.csproj.AssemblyReference.cache
/Server/HMO/HMO/obj/Debug/net6.0/HMO.csproj.CoreCompileInputs.cache
/Server/HMO/HMO/obj/Debug/net6.0/HMO.dll
/Server/HMO/HMO/obj/Debug/net6.0/HMO.pdb
/Server/HMO/Services/bin/Debug/net6.0/Repositories.dll
/Server/HMO/Services/bin/Debug/net6.0/Repositories.pdb
/Server/HMO/Services/bin/Debug/net6.0/Services.dll
/Server/HMO/Services/bin/Debug/net6.0/Services.pdb
/Server/HMO/Services/obj/Debug/net6.0/ref/Services.dll
/Server/HMO/Services/obj/Debug/net6.0/refint/Services.dll
/Server/HMO/Services/obj/Debug/net6.0/Services.csproj.AssemblyReference.cache
/Server/HMO/Services/obj/Debug/net6.0/Services.csproj.CoreCompileInputs.cache
/Server/HMO/Services/obj/Debug/net6.0/Services.dll
/Server/HMO/Services/obj/Debug/net6.0/Services.pdb
